*{
    margin: 0;
    padding: 0;
}
.frist-menu{
    background-image: url(./ezgif-3-db99e0288d75.png);
    background-color: blue;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    padding:70px 0px;
    background-size: auto;
}
    
    
  
     

ul li{
    display: inline-block; 


}
ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 60px;
    padding: 45px 40px;
    display: inline-block;
    border-right: 5px solid white;
    margin: 25px 0px;

}

.bb{
    background-color: red;
    text-align: center;
    list-style-type: none; 
    height: 200px;
    padding: 10 0px 0px 10px;
    
}
/* ul li a:hover{
    color: rgb(165, 42, 93);
    background: rgb(50, 42, 165);
    border: 3px solid black;
} */
.banner1{
    height: 900px; background-image: url(./img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0px 200px;
    text-align: center;
    


}
.header1{ 
    text-align: center;
    color: white;
    width: 200;
    font-size: 90px;
    margin-top: 200px;
}
.header2{
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 80px 1000px 100px;
}
.middle-header{
    background-color: green;
    font-size: 50px;

}
div a{

    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 30px 80px ;
}
.baner2{
    height: 1500px;
    background-image: url(./img_girl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position-x: center;
    
   
  
}
.b2b{
    
    height: 1501px;
    text-align: center;
    background-image: url(./img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;

}
.b2b h1{
    margin-top: 500px; 
    color: white;
    background-color: darkgreen;
    padding: 30px;
    font-size: 100px;

}
.pera{ 
    display: inline-block;
    font-size: 50px;
    margin-top: 100px;
    color: black;
    background-color:yellow;
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
  
}
.task{
    margin-top: 80px;
    color: white;
    background-color: black;
    font-size: 40px;
   
}
.full-box{
    text-align: center;
  
    height: 1800px;
    background-color: #4ab75c;
}
.head{
    text-align: center;
    padding: 200px;
    font-size: 90px;
}

.item1{   
     display: inline-block;
    width: 1501px;
    margin: 54px auto;
}
.img{   
     display: inline-block;
    width: 27%;

}
.img img{
    width: 50%;
    margin-left: 200px;
    margin-top: 50px;
    padding-left: 100px;
}

.text{    
    text-align: right;
      display: inline-block;
    width: 21%;
    vertical-align: middle;
    font-size: 25px;
    margin-left: 342px;
    

}

.item2{    width: 1500px;
    margin: 64px auto;
    display: inline-block;
    
}
.img2{
    display: inline-block;
    width: 27%;

}
.img2 img{
    text-align: right;
    width: 50%;
    padding-right: 500px;
    margin-left: 900px;

}
.text2{
    text-align: left;
    display: inline-block;
    width: 21%;
    vertical-align:middle;
    font-size: 25px;
    margin-right: 342px;
}
.footer-part{
    text-align: center;
    background-color: blue;
    padding: 20px;
}

.footer-part ul li a{
    display: inline-block;
    
    border: 5px solid white;
    border-radius: 50px;
    margin-right: 40px;

}